<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" class="dark">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">Padkell</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.1/dist/css/core.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/franken-ui@2.1.1/dist/css/utilities.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/franken-ui@2.1.1/dist/js/core.iife.js"
      type="module"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/franken-ui@2.1.1/dist/js/icon.iife.js"
      type="module"
    ></script>
    <script>
      const htmlElement = document.documentElement;

      const __FRANKEN__ = JSON.parse(
        localStorage.getItem("__FRANKEN__") || "{}"
      );

      if (
        __FRANKEN__.mode === "dark" ||
        (!__FRANKEN__.mode &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        htmlElement.classList.add("dark");
      } else {
        // htmlElement.classList.remove('dark');
      }

      htmlElement.classList.add(__FRANKEN__.theme || "uk-theme-emerald");
      htmlElement.classList.add(__FRANKEN__.radii || "uk-radii-md");
      htmlElement.classList.add(__FRANKEN__.shadows || "uk-shadows-sm");
      htmlElement.classList.add(__FRANKEN__.font || "uk-font-sm");
      htmlElement.classList.add(__FRANKEN__.chart || "uk-chart-default");
    </script>
  </head>
  <body>
    <div
      class="border-border uk-shadow-sm flex h-9 items-center border-b px-2 py-1"
      th:fragment="header"
    >
      <nav class="flex space-x-1 text-sm">
        <a class="px-3 py-1 font-bold" href="/">Padkell</a>
        <a class="px-3 py-1" href="#" th:text="#{nav.home}"></a>
        <a class="px-3 py-1" href="#" th:text="#{nav.api}"></a>
        <a class="px-3 py-1" href="#" th:text="#{nav.resources}"></a>
        <div
          class="uk-drop uk-dropdown min-w-48"
          data-uk-drop="mode: click; pos: bottom-left"
        >
          <ul class="uk-dropdown-nav uk-nav">
            <li>
              <a class="opacity-50" th:text="#{nav.faq}"></a>
            </li>
            <li>
              <a class="opacity-50" th:text="#{nav.contact}"></a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
              <a class="opacity-50" th:text="#{nav.status}"></a>
            </li>
            <li>
              <a class="opacity-50" th:text="#{nav.terms-and-conditions}"></a>
            </li>
          </ul>
        </div>
        <a class="px-3 py-1" href="#" th:text="#{nav.tools}"></a>
        <a class="px-3 py-1" href="#" th:text="#{nav.blog}"></a>

        <div>
          <a class="py-1 px-3 flex" href="#" th:text="#{header.language.title}">
          </a>

          <div
            class="uk-drop uk-dropdown min-w-52"
            data-uk-dropdown="mode: click; animation: uk-anmt-slide-top-sm"
          >
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <a href="?lang=pt_BR" th:text="#{language.portuguese}"></a>
              </li>
              <li><a href="?lang=en_US" th:text="#{language.english}"></a></li>
              <li><a href="?lang=he" th:text="#{language.hebraic}"></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
