<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" class="dark">
  <head th:replace="~{layouts/app :: head}">
    <title>Paste</title>
  </head>
  <body class="bg-background font-geist-sans text-foreground antialiased">
    <div th:replace="layouts/app :: header"></div>

    <div
      class="border-border flex h-16 items-center justify-between border-b px-8 py-4"
    >
      <h2 class="text-lg font-semibold" th:text="#{paste.edit}"></h2>
      <div class="flex w-full flex-1 items-center justify-end gap-x-2">
        <div class="h-10 w-[200px] lg:w-[300px]"></div>
      </div>
    </div>
    <div class="flex gap-x-6 px-8 py-6" style="height: 700px">
      <div class="flex-1">
        <textarea
          class="uk-textarea h-full resize-none p-4"
          th:placeholder="#{home.editor.placeholder}"
          id="editor"
          name="editor"
          th:text="${paste.body}"
        ></textarea>
      </div>
    </div>
    <div class="flex gap-x-2 px-8 py-6 pt-0">
      <button
        class="uk-btn uk-btn-primary"
        th:text="#{form.submit}"
        id="pasteSave"
      ></button>

      <button class="uk-btn uk-btn-destructive uk-btn-icon" id="pasteDelete">
        <span class="size-4"> <uk-icon icon="trash"></uk-icon> </span>
      </button>
    </div>

    <script th:inline="javascript">
      async function savePaste() {
        const body = document.getElementById('editor').value;

        const response = await fetch('/pastes/[(${paste.shortId})]', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            body,
          }),
        });

        UIkit.notification({
          message: [[#{paste.updated.success}]],
          status: 'primary',
          pos: 'top-right',
          timeout: 5000,
        });
      }

      async function deletePaste() {
        const response = await fetch('/pastes/[(${paste.shortId})]', {
          method: 'DELETE',
        });

        UIkit.notification({
          message: [[#{paste.deleted.success}]],
          status: 'danger',
          pos: 'top-right',
          timeout: 5000,
        });

        setTimeout(() => {
          window.location.href = '/';
        }, 3000);
      }

      document.getElementById('pasteSave').addEventListener('click', savePaste);
      document.getElementById('pasteDelete').addEventListener('click', deletePaste);
    </script>
  </body>
</html>
